/*Below is the root styling for the age calculator web app*/
:root {
  --Purple: hsl(259, 100%, 65%);
  --Light-Red: hsl(0, 100%, 67%);
  --White: hsl(0, 0%, 100%);
  --Off-White: hsl(0, 0%, 94%);
  --Light-Gray: hsl(0, 0%, 86%);
  --Smoke-Gray: hsl(0, 1%, 44%);
  --Off-Black: hsl(0, 0%, 8%);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  font-family: 'Fraunces', serif;
  font-family: 'Montserrat', sans-serif;  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Below is the code from the age calculator front end mentor tutorial */

/*Center the solution*/
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--White);
  padding: 2rem;
  max-width: 520px;
  border-radius: 1rem;
}