/*Below is the root styling for the age calculator web app*/
:root {
  --Purple: hsl(259, 100%, 65%);
  --Light-Red: hsl(0, 100%, 67%);
  --White: hsl(0, 0%, 100%);
  --Off-White: hsl(0, 0%, 94%);
  --Light-Gray: hsl(0, 0%, 86%);
  --Smoke-Gray: hsl(0, 1%, 44%);
  --Off-Black: hsl(0, 0%, 8%);
}

/* Set core body defaults */ /*Below is the css that centers the solution*/
body {
  font-family: 'Fraunces', serif;
  font-family: 'Montserrat', sans-serif;  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
/* Below is the code from the age calculator front end mentor tutorial */

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--White);
  padding: 2rem;
  max-width: 520px;
  border-radius: 1rem;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}